@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert">
                <h4>Access Denied</h4>
                <p>You do not have permission to access this resource.</p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
